@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=654846f5-8579-4a33-99db-35ba1d3a00f4"); @font-face {
  font-family: "Helvetica Neue LT W05_57 Cond";
  src: url(//cdn.shopify.com/s/files/1/0666/1997/t/5/assets/9516ef74-4fe9-45fe-a09f-493cb9518f71.woff2?v=2410939882692835546) format("woff2"), url(//cdn.shopify.com/s/files/1/0666/1997/t/5/assets/5b99bc59-1b2e-446b-961e-2e1dbdfcd641.woff?v=1048718411034538580) format("woff");
}

:root{
  --gridRows: auto;
  --gridCols: auto;
  --rowSpace: 0px;
  --colSpace: 0px;
  --gridPadding: 0px;
  --gridGap: 0px;
}

*{
  box-sizing: border-box;
}

html{
  max-width: 1905px;
  margin: 0 auto;
}

body {
    font: 16px/1.2 "Helvetica Neue LT W05_57 Cond", "Helvetica", sans-serif;
    color: #1c1919;
    margin: 0;
    padding-bottom: 100px;
    text-align: center;

}

.main{
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.wip{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 10rem;
  margin: 0 auto;
  color: #f2f2f2;
  z-index: -100;
  text-align: center;
}



.nav-index a {
  font: 16px/1.2 Helvetica Neue LT W05_57 Cond,Helvetica,sans-serif;
  margin: 0 0.5rem;
  text-transform: uppercase; 
  text-decoration: none;
  color: #1C1919;
  border-bottom: 2px solid #1c1919;
}

.nav-index a :hover{
  cursor:pointer;
}

header{
  margin-bottom: 1.25rem;
  padding-top: 1rem;
  text-align: center;
}

.container-logo {
  margin: 1.75rem auto;
  max-width: 280px;
  padding: 0 1.25rem;
}

img{
  width:100%;
  vertical-align: middle;
  border: 0;
}

.product{
  width: 100%;
  margin: 0 auto;
}

.description{
  padding: 8px 0 51px;
}

.description a {
  color: red;
  text-decoration: none;
  font-size: 1.25rem;
}

.description p {
  margin: 0 0 10px;
}

.dots-wrapper{
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

#dots{ 
  gap: var(--gridGap);
  grid-template-columns: var(--gridCols);
  grid-template-rows: var(--gridRows);
  padding: var(--gridPadding);
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  z-index: 100;
}

.dot{
  width: 100%;
  height:100%;
}

.sliders{
  /* display: none; */
  z-index: 101;
  position:fixed;
  bottom:0;
  left:0;
  width: 100%;
  padding: .5rem;

}

.slider{
  width:100%;
  display:flex;
  align-items:center;
}


#hide{
  cursor: pointer;
}

.close{
  padding-left: 12px;
}

#size{
  display: none;
}

label {
  display: none;
  font-size: 1rem;
}

input{
  width: 100%;
}

.row{
  margin-left: -15px;
  margin-right: -15px;
}
.row:before{
  content: " ";
  display: table;
}

.row:after{
  clear: both;
  content: " ";
  display: table;
}

.col-md-12{
  width: 100%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 480px){
  .container-logo{
    margin: 7.5rem auto 2.5rem;
    max-width: 1080px;
  }
}


@media (min-width: 600px){
  .nav-index{
    margin-bottom: 3rem;
  }
  .nav-index a { 
    margin: 0 2rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase; 
    border-bottom: 3px solid #1c1919;
  }

  .main{
    width: 720px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  .sliders{
    max-width: 300px;
  }

  .hero-text{
    font-size: 2rem;
  }

  .hero-text p {
    margin: 0 0 10px;
    margin-bottom: 1.5em;
  }

  .product{
    width: 554px;
    margin: 0 auto;
  }
}